<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Template - LSPD Assistant</title>
    <link rel="icon" href="data/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="styles/sidebar.css" />
    <link rel="stylesheet" href="styles/dashboard.css" />
    <link rel="stylesheet" href="styles/checkmark.css" />
    <link rel="stylesheet" href="styles/popup.css" />
    <link rel="stylesheet" href="styles/confirm.css" />
    <link rel="stylesheet" href="styles/loader.css" />
    <link rel="stylesheet" href="styles/colors.css" />
    <link rel="stylesheet" href="styles/annonce-popup.css" />
    <link rel="stylesheet" href="styles/warningCancer.css" />
</head>

<body>

    <div class="main-container">
        <div id="sidebar-container"></div>
    </div>
    <div class="loader-overlay" id="loaderOverlay">
        <div class="loader-spinner"></div>
    </div>

    <script src="scripts/annonce-popup.js"></script>
    <script src="scripts/loadSidebar.js"></script>
</body>

</html>