body {
    margin: 0;
    padding: 0;
    background: #2f3e57;
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
}

.embed-form {
    max-width: 600px;
    margin: 40px auto;
    background: var(--embed-bg);
    border-left: 5px solid var(--main-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.embed-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.embed-header img {
    height: 50px;
    margin-right: 15px;
}

.embed-title {
    font-size: 20px;
    font-weight: bold;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-group {
    flex: 1;
    margin-bottom: 15px;
}

label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: none;
    background: #232428;
    color: #fff;
    font-size: 15px;
}


input:focus {
    outline: 2px solid white;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    color: #151A2D;
    background: #EEF2FF;
}

#deleteBtn {
    background-color: #c0392b;
    margin-top: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#deleteBtn:hover {
    color: #151A2D;
    background: #EEF2FF;
}

#pointerBtn {
    background-color: #2ECC71;
    margin-top: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 8px;
}

#pointerBtn:hover {
    color: #151A2D;
    background: #EEF2FF;
}

.embed-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 12px;
    color: #bbb;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.embed-footer-left {
    display: flex;
    align-items: center;
}

.embed-footer img {
    height: 20px;
    margin-right: 5px;
}

@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }
}






.custom-confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.custom-confirm-box {
    background: white;
    color: #0b1b5a;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.custom-confirm-buttons {
    display: flex;
    justify-content: space-around;
    gap: 7px;
}

.btn {
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
    min-width: 100px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    color: #151A2D;
    background: #EEF2FF;
}

.btn-blue {
    background-color: #0b1b5a;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn-blue:hover {
    background: #07113a;
    color: white;
}

.btn-red {
    background-color: #d32f2f;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn-red:hover {
    background: #7e1c1c;
    color: white;
}

p {
    margin: 0 0 10px 0 !important;
}