body {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.container {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.error-card {
    background: linear-gradient(135deg, #8a9eff, #5c6bc0);
    border-radius: 8px;
    padding: 25px 75px;
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}